@import 'vars.css';

.page-header {
  margin-bottom: 1.5rem;
  font-size: 2.25rem;
  color: var(--color-primary);
}

.algorithms {
  font-family: monospace;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
